<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>J. K. Rowling</h1>

    <img  id="jkr-pic" src="/images/JKR.jpg.png" />
    <div id="jkr">
      <p>
        J.K. Rowling is a British author who is best known for creating the
        "Harry Potter" series, which consists of seven fantasy novels. The
        series follows the life and adventures of a young wizard, Harry Potter,
        and his friends Hermione Granger and Ron Weasley, as they attend
        Hogwarts School of Witchcraft and Wizardry.
      </p>
      <p>
        The "Harry Potter" series has become one of the most popular and
        successful literary franchises in history, selling over 500 million
        copies worldwide and being translated into numerous languages. It has
        also been adapted into a highly successful film series.
      </p>
      <p>
        J.K. Rowling's work has had a profound impact on popular culture and
        literature, and she is celebrated for her imaginative storytelling,
        intricate world-building, and compelling characters. Additionally, she
        has been recognized for her philanthropy and advocacy on issues such as
        children's welfare, literacy, and equality.
      </p>
    </div>
    <ul>
      <li><a href="/home">Come back</a></li>
    </ul>
  </body>
</html>
